.cmt-produce {
  margin: 40px 0;
}

.cmt-produce label {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

.cmt-produce textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
}

.cmt-produce button[name="Gui-cmt"] {
  display: block;
  margin-top: 10px;
  padding: 16px 44px;
  background-color: #fb5b08;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.cmt-produce button[name="Gui-cmt"]:hover {
  background-color: #ad3d04;
}

.cmt-produce button[name="Gui-cmt"]:focus {
  outline: none;
}
